<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title> Стартовая страница </title>
</head>
<body bgcolor="#e6e6fa">
<p style="margin-left: 30%"><font size="15" color="blue"> Стартовая страница </font>
<p style="margin-left: 40%"><a href="/create_roadmap/{{ context }}"> Добавить дорожную карту</a></p>
<p style="margin-left: 40%"><a href="/roadmaps/{{ context }}"> Дорожные карты</a></p>
<p style="margin-left: 40%"><a href="/logout/">Выход</a></p>
<p style="margin-left: 40%"><a href="/profile/{{ context }}">Просмотр профиля</a></p>
</body>
</html>